* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #109a1052;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 50px;
}

h1 {
    color: #109a10;
    font-family: "Aboreto";
    font-size: 5rem;
    margin-bottom: 50px; 
    text-align: left;
    padding-right: 18%;
}

#dog{
    display: flex;
}

#pata{
    width: 44px;
    transform: rotate(-25deg);
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px; /* Adicionando um espaçamento entre os inputs */
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #4caf50;
    outline: none;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 10px 5px;
    width: 44%;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

#mensagem {
    margin-top: 20px;
    font-size: 1rem;
    color: #e74c3c;
    text-align: center;
}

/* Adicionando um toque veterinário com imagens e ícones */
body::before {
    content: url('https://www.flaticon.com/svg/static/icons/svg/2712/2712050.svg');
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
}
